{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Logider</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            Iletisim: yunusemregeldegul@gmail.com<br>
            © 2019 <a href="https:emregeldegul.net">Yunus Emre Geldegul</a> All Rights Reserved
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}
